annotated-types==0.7.0
attrs==24.2.0
certifi==2024.7.4
cffi==1.17.0
chardet==5.2.0
charset-normalizer==3.3.2
ckanapi==4.8
click==8.1.7
contourpy==1.2.1
cryptography==43.0.1
cycler==0.12.1
defopt==6.4.0
descartes==1.1.0
dnspython==2.6.1
docopt==0.6.2
docutils==0.21.2
email-validator==2.2.0
et-xmlfile==1.1.0
fonttools==4.53.1
frictionless==5.17.0
geopandas==1.0.1
googlemaps==4.10.0
h3==3.7.7
hdx-python-api==6.3.2
hdx-python-country==3.7.7
hdx-python-utilities==3.7.3
humanize==4.10.0
idna==3.7
ijson==3.3.0
importlib-metadata==8.4.0
importlib-resources==6.4.3
inflect==7.3.1
isodate==0.6.1
jinja2==3.1.4
joblib==1.4.2
jsonlines==4.0.0
jsonpath-ng==1.6.1
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
libhxl==5.2.1
loguru==0.7.2
makefun==1.15.4
markdown-it-py==3.0.0
marko==2.1.2
markupsafe==2.1.5
matplotlib==3.9.2
mdurl==0.1.2
more-itertools==10.4.0
ndg-httpsclient==0.5.1
networkx==3.2.1
num2words==0.5.13
numpy==2.0.1
openpyxl==3.1.5
osmnx==1.9.3
packaging==24.1
pandas==2.2.2
petl==1.7.15
pillow==10.4.0
plotly==5.23.0
ply==3.11
pockets==0.9.1
pyasn1==0.6.0
pycparser==2.22
pydantic==2.8.2
pydantic-core==2.20.1
pygments==2.18.0
pyogrio==0.9.0
pyopenssl==24.2.1
pyparsing==3.1.2
pyphonetics==0.5.3
pyproj==3.6.1
python-dateutil==2.9.0.post0
python-io-wrapper==0.3.1
python-slugify==8.0.4
pytz==2024.1
pyyaml==6.0.2
quantulum3==0.9.2
ratelimit==2.2.1
referencing==0.35.1
requests==2.32.3
requests-file==2.1.0
rfc3986==2.0.0
rich==13.7.1
rpds-py==0.20.0
rtree==1.3.0
ruamel-yaml==0.18.6
ruamel-yaml-clib==0.2.8
scikit-learn==1.5.1
scipy==1.13.1
setuptools==73.0.1
shapely==2.0.6
shellingham==1.5.4
simpleeval==0.9.13
simplejson==3.19.3
six==1.16.0
sphinxcontrib-napoleon==0.7
stringcase==1.2.0
structlog==24.4.0
tableschema-to-template==0.0.13
tabulate==0.9.0
tenacity==9.0.0
text-unidecode==1.3
threadpoolctl==3.5.0
tqdm==4.66.5
typeguard==4.3.0
typer==0.12.4
typing-extensions==4.12.2
tzdata==2024.1
unidecode==1.3.8
urllib3==2.2.2
validators==0.33.0
wheel==0.44.0
xlrd==2.0.1
xlrd3==1.1.0
xlsx2csv==0.8.3
xlsxwriter==3.2.0
xlwt==1.3.0
zipp==3.20.0
